<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig 
  mustMatch="true" 
  logFile="proxy_log.log"
  allowedReferers="gis.abag.ca.gov, gis5.abag.ca.gov"
  >
  <serverUrls>
    <serverUrl url="http://gis.abag.ca.gov/arcgis/rest/services/"
      matchAll="true"/>
    <serverUrl url="http://gis5.abag.ca.gov/arcgis/rest/services/"
      matchAll="true"/>
  </serverUrls>
</ProxyConfig>
